include ../lib/_lib
+page('Страница Шутова Виталия',['main.css'],['main.js'])
	+logo('logo-header.png','http://steelcat.org','Логотип хедера','padding')
	+logo('logo-footer.png','/','Логотип футера')
	+social(['vk','github'],['https://vk.com/steelcat','https://github.com/steelcat'])